body {
    font-family: 'Roboto', sans-serif;
    color: $gray;
}
.container-fluid {
    overflow-x: hidden;
}
.container {
    padding: 0 15px;
    overflow-x: hidden;
    max-width: 1200px;
    margin: 0 auto;
    

    @include widescreen {
        max-width: 1000px;   
    }

    @include laptop {
        max-width: 870px;   
    }

    @include tablet {
        max-width: 770px;   
    }
}

.link-inherit {
    color: inherit;
}
.link-no-decor {
    text-decoration: none;
}
.link-decor-inverse {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}