.header {
    $root: &;

    &__menu-btn {
        display: none;
    
        @include mobile-large {
            display: inline-flex;
            position: absolute;
            top: 25px;
            left: 35px;  
            font-size: 30px;
            color:#8cc44c;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 92px;

        @include mobile-large {
            justify-content: center;
            border-bottom: 2px solid #263238;
            height: 70px;
            margin: 0px -15px;
            text-align: center;
            display: flex   
        }
    }

    &__logo {
        max-width: 197px;
    }

    &__right-s {
        display: flex;
        align-items: center;

        @include mobile-large {
            display: none;   
        }
    }

    &__help {
        font-size: 15px;
    }

    &__label-red {
        color: $tomato;
    }

    &__notify {
        display: flex;
        margin: 0 26px;
    }

    &__cart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: $lighten-gray;
        position: relative;
        cursor: pointer;

        .fa-shopping-cart {
            font-size: 12px;
            color: #a0a0a0;
        }
    }
    &__item-number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        font-size: 11px;
        font-weight: 400;
        border-radius: 50%;
        background: $tomato;
        color: $white;
        position: absolute;
        top: -8px;
        right: -8px;
    }

    &__actions {
        display: flex;
        margin: 0 -4px;

        #{$root}{
            &__btn {
                width: 72px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                color: $white;
                font-size: 12px;
                font-weight: 400;
                border-radius: 4px;
                text-decoration: none;
                margin: 0 4px;

                &--green {
                    background: $green-apple;
                }
                &--red {
                    background: $tomato;
                }
            }
        }
    }

}